body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.bill {
  z-index: 3;
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  animation: dropToCenter 1.2s ease-out forwards;
}

@keyframes dropToCenter {
  to {
    top: 36%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.video__big {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.button__sorry {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 15px 5px 15px;
  background-color: #7b3309;
  font-size: 25px;
  cursor: pointer;
  top: 450px;
  color: #a7612b;
  border: 2px solid #a7612b;
  border-radius: 50px 50px 50px 50px;
}

.text_comp {
  top: 15px;
  z-index: 1;
  position: absolute;
  color: #7b3309;
  font-size: 40px;
  font-weight: bold;
}

.overlay-img {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999 !important;
  display: none;
}

@media (max-width: 431px) {
  .text_comp {
    margin-top: 20px;
    margin-left: 50px;
  }

  .button__sorry{
    top:550px;
    left: 27%;
  transform: translateX(-20%);
  }
}
